$authorImageWidth: 150px;
$breakpoint-desktop: 1280px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 420px;

$deepBlue: #00BFFF;
$darkBlue: #5B86E5;
$starColor: #f2b01e;
$grey: #808080;
